<footer class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Company Name</h5>
          <p>Perfect software solution(pvt)Ltd</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#client">Client</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p><b>Email:  </b><a class="lin" href="mailto:info@psssoftwaresolutions.com,ajith@psssoftwaresolutions.com">info@psssoftwaresolutions.com</a></p>
          <p><b>Phone:</b> <a class="lin" href="tel:+94112801070">0112801070</a> /
            <a class="lin" href="tel:+94772106121">0772106121</a></p>
          <p class="address"><b>Address:</b> <a class="lin" href="https://www.google.com/maps?q=44/2A,+Galhena+Road,+Nugegoda,+Sri+Lanka" target="_blank">
                  44/2A, Galhena Road,<br>Nugegoda, Sri Lanka</a>
            </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.whatsapp.com" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          </div>
        </div>
        <div class="col text-center mt-4">
          <p>&copy; 2024 Your Company. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  