<!-- Top column with phone number and email -->
<div class="contact-bar">
  <div class="container text-center">
    <span class="contact-info">
      Call Us: <a href="tel:+94123456789">0112801070</a> |
      Email: <a href="mailto:info@psssoftwaresolutions.com,ajith@psssoftwaresolution">info@psssoftwaresolutions.com</a>
    </span>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <!-- Logo on the left side -->
    <a class="navbar-brand" href="#">
      <img src="../../assets/imgs/psswithout.png" alt="Company Logo" class="company-logo">
    </a>

    <!-- Button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links on the right side -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav me-4">
        <li class="nav-item">
          <a class="nav-link" href="#home" id="home-link">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#about" id="about-link">About Us</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#service" id="service-link">Service</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#software" id="software-link">Software</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" href="#client" id="client-link">Client</a>
        </li>
      </ul>
    </div>
  </div>
</nav>