

#service {
    padding-top: 80px; /* Adjust for service section */
}

#software {
    padding-top: 80px; /* Adjust for software section */
}

#client {
    padding-top: 80px; /* Adjust for client section */
}

#about {
    padding-top: 80px; /* Adjust for about section */
}


